# VAISHALI GADEKAR

## Batch: DS22

# CODE-A-THON

## Task Exercise: Level 1a

### 1. Create a empty Tuple

In [1]:
empty_tuple = ()

### 2.Create a tuple containing name of your sisters and your brothers

In [2]:
sisters = ('Kalyani', 'Ojal', 'Pranjali', 'Manaswini')
brothers = ('Raj', 'Tejas', 'Akshad', 'Jay')

### 3. Join brothers and sisters name tuple and assign to siblings.

In [3]:
#3
siblings_tuple = (sisters + brothers)
print(siblings_tuple)

('Kalyani', 'Ojal', 'Pranjali', 'Manaswini', 'Raj', 'Tejas', 'Akshad', 'Jay')

### 4.How many siblings do you have?

In [4]:
print('I have',len('siblings_tuple'), 'sibilings_tuple')

I have 14 sibilings_tuple

### 5. Modify the siblings tuple and add the name of your father and mother and assign it to family_members

In [5]:
parents = ('Nitin' ,'Ujjwala')
family_members = (siblings_tuple + parents)
print(family_members)

('Kalyani', 'Ojal', 'Pranjali', 'Manaswini', 'Raj', 'Tejas', 'Akshad', 'Jay', 'Nitin', 'Ujjwala')

## Task Exercise: Level 1b

### 1. Unpack siblings and parents from family_members

In [6]:
family_members = ('Nitin', 'Ujjwala'), ('Raj', 'Tejas', 'Akshad','Ojal', 'Kalyani', 'Pranjali')
(Parents, sibilings) = family_members

In [8]:
print(Parents)
print(brothers)
print(sisters)

('Nitin', 'Ujjwala')
('Raj', 'Tejas', 'Akshad', 'Jay')
('Kalyani', 'Ojal', 'Pranjali', 'Manaswini')

### 2.Create a tuple containing name of your sisters and your brothers

In [9]:
fruits = ('apple', 'mango', 'guava', 'watermelon')
vegetables =('brinjal', 'tomato', 'patato', 'ladyfinger')
animals_product = ('butter', 'yogurt', 'custurd', 'cheese')
food_stuff_tp = fruits + vegetables + animals_product
print(food_stuff_tp)

('apple', 'mango', 'guava', 'watermelon', 'brinjal', 'tomato', 'patato', 'ladyfinger', 'butter', 'yogurt', 'custurd', 'cheese')

### 3.Join brothers and sisters name tuple and assign to siblings

In [10]:
food_stuff_list = list(food_stuff_tp)
food_stuff_list

['apple',
 'mango',
 'guava',
 'watermelon',
 'brinjal',
 'tomato',
 'patato',
 'ladyfinger',
 'butter',
 'yogurt',
 'custurd',
 'cheese']

### 4.How many siblings do you have?

In [11]:
food_stuff_list[4:6]

['brinjal', 'tomato']

### 5.Modify the siblings tuple and add the name of your father and mother and assign it to family_members

In [12]:
print('First 3 items of food_stuff_list: ', food_stuff_tp[:3])
print('Last 3 items of food_stuff_list: ', food_stuff_tp[-3:])

First 3 items of food_stuff_list:  ('apple', 'mango', 'guava')
Last 3 items of food_stuff_list:  ('yogurt', 'custurd', 'cheese')

### 6.Delete the food_stuff_tp tuple completely

In [13]:
del food_stuff_tp

### 7.Check if an item exists in tuple(nordic_countries)

In [14]:
nordic_countries = ('Denmark', 'Finland', 'Iceland', 'Norway', 'Sweden')
print('Estonia' in nordic_countries)
print('Iceland' in nordic_countries)

False
True

## Task Exercise: Level 2a

### 1.Find the length of the set It_companies

In [15]:
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
print('Length of set IT_companies: ', len(IT_companies))

Length of set IT_companies:  7

### 2. Add 'Twitter' to It_companies

In [16]:
IT_companies.add('Twitter')
print(IT_companies)

{'Microsoft', 'Twitter', 'IBM', 'Apple', 'Amazon', 'Facebook', 'Oracle', 'Google'}

### 3.Insert multiple IT companies at once to the set it_companies

In [17]:
a = 'TCS', 'cognizant'
IT_companies.update(a)
print(IT_companies)

{'Microsoft', 'Amazon', 'Oracle', 'IBM', 'Google', 'Twitter', 'TCS', 'Apple', 'cognizant', 'Facebook'}

### 4.Remove one of the companies from the set it_companies

In [18]:
IT_companies.remove('Amazon')
print(IT_companies)

{'Microsoft', 'Oracle', 'IBM', 'Google', 'Twitter', 'TCS', 'Apple', 'cognizant', 'Facebook'}

### 5.What is the difference between remove and discard

- Remove:The remove() method will raise an error if the specified item does not exist
- Discard:The discard() method removes the specified item from the set.

## Task Exercise: Level 2b

### 1.Join A and B

In [19]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 24, 20, 25, 26, 24, 28, 27}
c = A.union(B)
c

{19, 20, 22, 24, 25, 26, 27, 28}

### 2.Find A intersection B

In [20]:
print('A intersection B: ', A & B)

A intersection B:  {19, 20, 22, 24, 25, 26}

### 3.Is A subset of B

In [21]:
A.issubset(B)

True

### 4.Are A and B disjoint sets

In [22]:
A.isdisjoint(B)

False

### 5.Join A with B and B with A

In [23]:
N = A.union(B)
V = B.union(A)
print(N)
print(V)

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}

### 6.What is the symmetric difference between A and B

In [24]:
K = A.symmetric_difference(B)
K

{27, 28}

### 7.Delete the sets completely

In [25]:
del A, B

## Task Exercise: Level 2c

### 1.Convert the ages to a set and compare the length of the list and the set,which one bigger?

In [26]:
age = [22, 19, 24, 25, 26, 24, 25, 24]
age_set = set(age)
print("Length of the age_set: ", len(age_set))
print("Lenth of the list age: ", len(age))
print("Lenth of the list of age is grerater than age_set.")

Length of the age_set:  5
Lenth of the list age:  8
Lenth of the list of age is grerater than age_set.

### 2.Explain the difference between the following data types:string,list,tuple and set

- String- string is a built-in type sequence,it is the simplest and easy way to use in python,we simply enclose a text in single as well as double-quotes.
- List - List is a one dimentional, immutable ordered sequenceof items which can be of mixed data types and always given in [].
- Tuple - A tuple is a one dimentional, immutable ordered sequence of items which can be of mixed data types and are always given in().
- Set - A set is an unordered collection data typesyhat is iterable, mutable and has no duplicate and are always given in {}.

### have been used in the sentence? Use the split methods and set to get the unique words.

In [27]:
sentence = ("I am a teacher and I love to insipre and teach people")
sentence

'I am a teacher and I love to insipre and teach people'

In [28]:
a1 = sentence.split()
a1

['I',
 'am',
 'a',
 'teacher',
 'and',
 'I',
 'love',
 'to',
 'insipre',
 'and',
 'teach',
 'people']

In [29]:
import numpy as np
a = np.array(a1)
a1

np.unique(a)

array(['I', 'a', 'am', 'and', 'insipre', 'love', 'people', 'teach',
       'teacher', 'to'], dtype='<U7')

## Task exercise: Level 3a

### 1.Create an empty dictionary called dog

In [30]:
dog = dict()
print("dog: ", dog)

dog:  {}

### 2.Add name, color, breed, legs, age to the dog dictionary

In [31]:
dog.update({'Name': 'Rocky', 'Color': 'Black', 'Breed': 'German shepherd', 'legs': '4', 'Age': '8'})
print("dog: ", dog)

dog:  {'Name': 'Rocky', 'Color': 'Black', 'Breed': 'German shepherd', 'legs': '4', 'Age': '8'}

### 3.Create a student dictionary and add first_name , last_name , gender , age , marital status , skills , country , city and address as keys for the dictionary

In [32]:
student_dict = dict()
student_dict.update({'Name': 'Netranjali', 'Last_name': 'Avhad', 'Gender': 'Female', 'age': '24', 'marital status': 'Unmarried', 'skills': ['Machine Learning', 'SQL'], 'Country': 'India','city': 'Nashik', 'address': 'Gandhinagar'})
print('student_dict: ', student_dict)

student_dict:  {'Name': 'Netranjali', 'Last_name': 'Avhad', 'Gender': 'Female', 'age': '24', 'marital status': 'Unmarried', 'skills': ['Machine Learning', 'SQL'], 'Country': 'India', 'city': 'Nashik', 'address': 'Gandhinagar'}

### 4.Get the length of the student dictionary

In [33]:
print(len(student_dict))

9

### 5.Get the value of skills and check the data type,it should be a list

In [34]:
print(student_dict["skills"])
print('Data type of a skills of the student: ', type(student_dict))

['Machine Learning', 'SQL']
Data type of a skills of the student:  <class 'dict'>

### 6.Get the value of skills and check the data type,it should be a list

In [35]:
student_dict["skills"] += "Python", "Artificial Intelligence"
student_dict["skills"]

['Machine Learning', 'SQL', 'Python', 'Artificial Intelligence']

### 7.Get Dictionary keys as a list

In [36]:
student_dict = ({'Name': 'Netranjali', 'Last_name': 'Avhad', 'Gender': 'Female', 'age': '24', 'marital status': 'Unmarried', 'skills': ['Machine Learning', 'SQL'], 'Country': 'India','city': 'Nashik', 'address': 'Gandhinagar'})
print(student_dict.keys())

dict_keys(['Name', 'Last_name', 'Gender', 'age', 'marital status', 'skills', 'Country', 'city', 'address'])

### 8.Get the dictionary values as a list

In [37]:
Values = list(student_dict.values())
Values

['Netranjali',
 'Avhad',
 'Female',
 '24',
 'Unmarried',
 ['Machine Learning', 'SQL'],
 'India',
 'Nashik',
 'Gandhinagar']

### 9.Change the dictionary to a list of tuples using items() method

In [38]:
list1 = list(student_dict.items())
list1

[('Name', 'Netranjali'),
 ('Last_name', 'Avhad'),
 ('Gender', 'Female'),
 ('age', '24'),
 ('marital status', 'Unmarried'),
 ('skills', ['Machine Learning', 'SQL']),
 ('Country', 'India'),
 ('city', 'Nashik'),
 ('address', 'Gandhinagar')]

### 10.Delete one of the items in the dictionary

In [39]:
student_dict.pop('city')
student_dict

{'Name': 'Netranjali',
 'Last_name': 'Avhad',
 'Gender': 'Female',
 'age': '24',
 'marital status': 'Unmarried',
 'skills': ['Machine Learning', 'SQL'],
 'Country': 'India',
 'address': 'Gandhinagar'}

### 11.Delete one of the dictionaries

In [40]:
del student_dict

## Task Exercise: Level 4a

### 1.Get user input using input("Enter your age:").If user is 18 or older,give feedback: You are old enough to drive.If below 18 give feedback to wait for the missing amount of years.

In [41]:
age = int(input("Enter your age: "))
if (age > 18):
        print("You are old enough to drive")
else:
    print("You need " ,(18-age),"more years to learn drive ")

    
#1
age = int(input("Enter your age: "))
if (age > 18):
        print("You are old enough to drive")
else:
    print("You need " ,(18-age),"more years to learn drive ")

Enter your age: 30
You are old enough to drive
Enter your age: 15
You need  3 more years to learn drive

### 2.Compare the values of my_age and your_age using if..else.Who is older(me or you)? Use input("Enter your age:") to get the age as input.You can use a nested condition to print 'year' for 1 year difference in age,'years' for bigger differences,and a custom text if my_age=your_age.

In [42]:
your_age = int(input('Enter your age: '))
my_age = 35
if your_age==my_age+1:
    print('You are 1 year older than me')
elif your_age>my_age+1:
    print('You are', (your_age-my_age), 'years older than me')
elif your_age==my_age:
    print('We are same age')
else:
    print('You are', (my_age-your_age), 'years younger than me')

Enter your age: 35
We are same age

### 3.Get two numbers from the user using input prompt. If a is greater than b return a is greater than b, if a is less b return a is smaller than b , else a is equal to b.

In [43]:
a = int(input('Enter number one: '))
b = int(input('Enter number two: '))
if(a>b):
    print(a, 'is greater than', b)
elif(a<b):
    print(a, 'is samaller than', b)
else:
    print(a, 'is equal to', b)

Enter number one: 4
Enter number two: 3
4 is greater than 3

## Task Exercise: Level 4b

### 1.Write a code which gives grade to students according to theirs scores:

In [44]:
a = int(input('Enter your scores: '))
if (80<=a<=100):
    print('A')
elif (70<=a<89):
    print('B')
elif (60<=a<69):
    print('C')
elif (50<=a<59):
    print('D')
elif (0<=a<49):
    print('F')

Enter your scores: 90
A

### 2.Check if the season is Autumu,Winter,Spring or Summer.If the user input is: September,October or November,the season is Autumu.December,January or February, the season is Winter.March,April or May, the season is Spring June,July or August, the season is Summer

In [46]:
month = str(input('Enter the month:'))
if month in ['September', 'October', 'November']:
    print('The season is Autumn')
elif month in ['December', 'January', 'Febuary']:
    print('The season is Winter')
elif month in ['March', 'April', 'May']:
    print('The season is Spring')
elif month in ['June', 'July', 'August']:
    print('The season is Summer')

Enter the month:April
The season is Spring

### 3.The following list contains some fruits:

In [47]:
a = str(input('Enter the name of the fruit here: '))
fruits = ['banana', 'orange', 'mango', 'lemon']
if a in fruits:
    print('That fruit already exist in the list')
else:
    fruits.append(a)
    print('Modified list of fruits: ', fruits)

Enter the name of the fruit here: cherry
Modified list of fruits:  ['banana', 'orange', 'mango', 'lemon', 'cherry']

## Task Exercise: Level 4c

### 1.Here we have a person dictionary.Feel free to modify it!

In [49]:
person={
    'first_name': 'Trainee',
    'last_name': 'Coder',
    'age': 25,
    'country': 'India',
    'is_married': False,
    'skills': ['JavaScript', 'html', 'React','Node', 'MongoDB', 'Python', 'R', 'Analystics Software'],
    'address':{
        'Stress': ['New Delhi', 'Banglore'],
        'zipcode': '100010'}
}

b = int(len(person['skills'])/2)    
c = person['skills']
a = 'skills' in person
d = 'Python' in c


#3
if a == True:
    print('The middle skills in the skill list: ', c[b])
else:
    pass

#4
if a == True & d == True:
    print('Skills of the person: ', c)
else:
    pass

if person['is_married']=='False' and person['country']=='India':
    print('{} {} lives in India. He is not married.' .format(person['first_name'], person['last_name']))
else:
    pass

The middle skills in the skill list:  MongoDB
Skills of the person:  ['JavaScript', 'html', 'React', 'Node', 'MongoDB', 'Python', 'R', 'Analystics Software']

In [50]:
int(len(person['skills'])/2)

4

## Task Exercise: Level 5a

### 1.Iterate 0 to 10 using for loop, do the same using while loop.

In [51]:
for i in range (11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

### 2.Iterate 10 to 0 using for loop, do the same using while loop.

In [52]:
i = 0 
while i < 11:
    print(i)
    i = i+1

0
1
2
3
4
5
6
7
8
9
10

### 3.Write a loop that makes seven calls to print(),so we get on the output the following triangle:

In [53]:
for i in range (8):
    for j in range(1,i+1):
        print('#', end = ' ')
    print()

#
# #
# # #
# # # #
# # # # #
# # # # # #
# # # # # # #

### 4.Use nested loops to create the following

In [54]:

for i in range (1, 9):
    for j in range(1, 9):
        print('#', end= ' ')
    print()

# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #

### 5.Print the following pattern:

In [55]:
for i in range(11):
    print(i, 'x', i, '=', i*i)
    i=i+1

0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

### 6.Iterate through the list,['Python','Numpy','Matplotlib','Scikit-Learn'] using a for loop and print out the items.

In [56]:
list=['Python', 'Numpy', 'Pandas', 'Matplotlib', 'Scikit-Learn']
for i in list:
    print(i)

Python
Numpy
Pandas
Matplotlib
Scikit-Learn

### 7.Use for loop to iterate from 0 to 100 and print only even numbers

In [57]:
for i in range(101):
    if i%2==0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

### 8.Use for loop to iterate from 0 to 100 and print only odd numbers

In [58]:
for i in range(101):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

## Task Exercise: Level 5b

### 1.Use for loop to iterate from 0 to 100 and print the sum of all numbers.

In [59]:
num =100
total = sum(range(num + 1))
print(total)

5050

### 2.Use for loop to iterate from 0 to 100 and print the sum of all evens and the sum of all odds

In [60]:
n = 100
even_sum = 0
odd_sum = 0

for n in range(0, n+1, 1):
    if (n%2==0):
        even_sum = even_sum + n
    else:
        odd_sum = odd_sum +n
        
print("The sum of even numbers is = {1}". format(n, even_sum))
print("The sum of odd numbers is {1}". format(n, odd_sum))

The sum of even numbers is = 2550
The sum of odd numbers is 2500

## Task Exercise: Level 5c

In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### 1.Go to the data folder and use the Countries.ipynb file.Loop through the countries and extract all the countries containing the word land

In [62]:
import countries_data2
from countries_data2 import list_2

ModuleNotFoundError: No module named 'countries_data2'